<div class="row-fluid">

    <div class="row">
      <div class="col-md-12">

        <div class="jumbotron">
	        <h2>
              Invite Friends
	        </h2>

	        <p>
              We are currently in beta, which really means that we are still building. So we offer
              our initial users the option to invite some friends. Use the following options to
              invite a friend, and to see how your friends are using the site.
	        </p>
	       
        </div>

    </div>

    <div class="row">
      <div class="col-md-offset-2 col-md-7">

        <p>
            You have 5 invites left to use. 
        </p>

        <form>
            <div class="input-group">
              <input type="text" class="form-control" name="email" placeholder="Enter an email address">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
        </form>
        <br>

        <table class="table table-hover">
          <tr>
            <th width="55%">Email Address</th>
            <th width="30%">Sent</th>
            <th width="10%">Status</th>
          </tr>
          <tr>
            <td>test@test.com</td>
            <td>11/21/2014 (4 days ago)</td>
            <td>
              <span class="glyphicon glyphicon-ok"></span>
            </td>
          </tr>
          <tr>
            <td>test2@test.com</td>
            <td>11/21/2014 (4 days ago)</td>
            <td>
              <span class="glyphicon glyphicon-unchecked"></span>
            </td>
          </tr>
          <tr>
            <td>test2@test.com</td>
            <td>11/21/2014 (4 days ago)</td>
            <td>
              <span class="glyphicon glyphicon-unchecked"></span>
            </td>
          </tr>
          <tr>
            <td>test2@test.com</td>
            <td>11/21/2014 (4 days ago)</td>
            <td>
              <span class="glyphicon glyphicon-ok"></span>
            </td>
          </tr>
        </table>

      </div>
     
    </div>

</div>
