<div class="row-fluid">

    <div class="row">
      <div class="col-md-offset-3 col-md-6">

        <div class="jumbotron">
	        <h2>
              Want an account?
	        </h2>

          <p>
              If you are a child, please speak with your parent before 
              registering. Please use your parents email address.
          </p>

	        <form id="registrationForm">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" name="name" id="name" placeholder="Enter your name">
            </div>

            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" name="username" id="username" placeholder="Enter your username">
            </div>

            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" name="email" id="email" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            </div>
           
            <button type="submit" class="btn btn-success actionButton">Create Account Now >></button>
          </form>

        </div>

      </div>
     
    </div>

    <div class="row hide">
      <div class="col-md-12">
        <i>
               <b>How do we do it?</b> We are building a complete set of 'manifests' for
               all the lego kits ever made. We have a library of every brick ever made. We
               do the work to determine what pieces you have and what you might need for
               a new kits. And if we have the plans, you can start building. 
	        </i>
      </div>
    </div>
 

</div>
